li#accordion-section-elementory_header_options,
li#accordion-section-upsell_section {
    display: none !important;
}

/* === Radio Image Control === */
.customize-control-radio-image #input_elementory_agency_footer_widgets_column_layout {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    line-height: 0;
}

.customize-control-radio-image input[type="radio"] {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.customize-control-radio-image img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    padding: 1px;
    border: 4px solid transparent;
}

.customize-control-radio-image img:hover,
.customize-control-radio-image img:focus {
    border-color: #ccc;
}

.customize-control-radio-image input:checked+img {
    border-color: #00a0d2;
}